!!! 5
%html
  %head
    %title Ludum Dare 27

  %body
    %h1 Ludum Dare 27
    %h2 10 Seconds

    %script{  :type => 'text/javascript',
              :src => 'js/lib/require.js' }
    %script{  :type => 'text/javascript',
              :src => 'js/game.js' }
